body {
    font-family: 'poppins', sans-serif;
    background-color: #63c4ff;
    transition: 0.5s;
}

body.darkmode {
    background-color: #121212;
}

.login-box {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(70, 30, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 25%;
    margin: auto;
    margin-top: 10%;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    transition: 0.5s;
}

@media only screen and (max-width: 768px) {
    .login-box {
        width: 75%;
    }
}
@media only screen and (max-width: 1366px) {
    .login-box {
        width: 40%;
    }
}

.login-box h1 {
    text-align: center;
    color: #232c3d;
    transition: 0.5s;
}

.login-box h1.dark-mode {
    color: white;
}

.theme {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

input {
    width: 80%
    margin-bottom: 20px;
    border: none;
    background-color:
}